.container {
  // border: 1px solid red;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user_con {
  margin-left: 10px;
  width: 75vw;
  height: 100%;
  // border: 1px solid black;
}

.carousel {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
}

.carousel li {
  width: auto !important;
  margin-right: 10px;
}
/* Default styles for all devices */

/* Mobile devices */
@media only screen and (max-width: 768px) {
  .container{
    height: 135px;
  }
  .user_con {
    width: 58vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .user_con {
    width: 75vw;
  }
}

/* Medium to large desktops */
@media only screen and (min-width: 1025px) {
  /* Styles for devices with a minimum width of 1025 pixels */
}
