.icon_box {
  animation: slidefromtop 1s ease;
}
@keyframes slidefromtop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.bottom_style {
  margin-top: -1px;
}
