.container {
  width: 100%;
  max-height: 120px;
}
.heading {
  font-size: 20px;
  font-weight: 900;
}
.bio {
  width: 100%;
  //   border: 1px solid red;
  text-align: center;
  max-height: 100px;
  margin-top: 10px;
}
.bio_button {
  margin-top: 10px;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(232, 229, 229);
  cursor: pointer;
  font-weight: bold;
}
.bio_button:hover {
  background-color: rgb(180, 178, 178);
}
