.container {
  width: 100%;
  height: calc(100vh - 200px);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  animation: slidefrombottom 1s ease-in-out;
  // overflow: auto;
  // border: 1px solid red;
}
@keyframes slidefrombottom {
  0% {
    transform: translateY(+100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.left_box {
  width: 25%;
  height: 100%;
  border: 1px solid black;
}
.right_box {
  width: 42%;
  height: 96%;
  // border: 1px solid red;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; /* Hide the scrollbar on Firefox */
  -ms-overflow-style: none;
}
.right_box::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.suggest {
  width: 30%;
  height: 80vh;
  // border: 1px solid black;
}

@media only screen and (max-width: 768px) {
  .container {
    height: calc(100vh - 160px);
  }
  .left_box {
    display: none;
  }
  .suggest {
    display: none;
  }
  .right_box {
    width: 95%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    justify-content: center;
  }
  .suggest {
    display: none;
  }
  .left_box {
    width: 35%;
  }
  .right_box {
    width: 60%;
  }
}
@media only screen and (min-width: 1025px) {
}
