@import "../../../Variable.scss";
.container {
  font-family: $font_family;

}
.add_container {
  margin-top: 20px;
}
.heading {
  font-size: 16px;
  // font-weight: bold;
  color: rgb(238, 236, 236);
}
.caption_container{
  margin-top: 10px;
}
.add_box {

  // padding-bottom: 0px;
  margin-top: 5px;
  width: 98%;
  // border: 1px solid grey;
  border-radius: 8px;
  padding: 5px;
  height: calc(100vh - 350px);
  position: relative;
  background: linear-gradient(to right, rgb(9, 117, 194), rgb(8, 148, 166));
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.add_button {
  background-color: black;
  width: 50%;
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.with_image_add_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.images_box {
  margin-top: 5px;
  height: 86%;
  // border: 1px solid red;
}
.delete_container {
  display: flex;
  width: 100%;
}
.delete {
  background-color: rgb(119, 125, 7);
  // background-color: rgb(7, 105, 125);
  width: 50%;
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  border: none;
  font-family: $font_family;
}
.post {
  background-color: rgb(3, 28, 91);
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  border: none;
  font-family: $font_family;
}


.main_heading{
  font-size: 20px;
  color: white;
  margin-top: 5px;
}