@import "../../../Variable.scss";
.container {
  width: 100%;
  //   border: 1px solid red;
  height: 83%;
  overflow: auto;
}
.box {
  //   border: 1px solid red;
  display: flex;
  //   justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  margin-top: 5px;
  //   height: 50px;
}
.img_box {
  width: 10%;
  height: 35px;
  border-radius: 50%;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.content_box {
  // height: 80%;
  margin-left: 5px;
  background-color: rgb(244, 240, 240);
  border-radius: 4px;
  padding: 3px 10px;
  max-width: 75%;
}
.name {
  font-size: 12px;
  font-weight: bold;
  font-family: $font_family;
}

.content {
  font-size: 14px;
  color: rgb(1, 51, 99);
  font-weight: 700;
  font-family: $font_family;
}
.time {
  font-size: 10px;
  font-family: $font_family;
}
.icon {
  cursor: pointer;
}
