@import "../../../Variable.scss";
.container {
  // padding: 10px;
  font-family: $font_family;
  width: 65%;
}
.post_box {
  padding: 10px;
  height: 500px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
}
.dark_post_box {

  background: $Dark_Post_Box;
}
.light_post_box {
  // background-color: white;
  background: $Light_Post_Box;
}
