@import "../../../Variable.scss";
.container {
  border-top: 1px solid rgb(190, 188, 188);
  border-bottom: 1px solid rgb(190, 188, 188);
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.liked svg {
  fill: red;
  stroke: red;
}
.text {
  margin-left: 2px;
  font-size: 15px;
  font-weight: 700;
  color: #494849;
  font-family: $font_family;
}
@media only screen and (max-width: 768px) {
  .text {
    font-size: 13px;
  }
  /* Styles for devices with a maximum width of 600 pixels */
}

/* Tablets and small desktops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for devices with a width between 601 and 1024 pixels */
}

/* Medium to large desktops */
@media only screen and (min-width: 1025px) {
  /* Styles for devices with a minimum width of 1025 pixels */
}
