.container {
  width: 400px;
  height: 100vh;
  position: absolute;
  right: -400px; /* Changed from right to left */
  z-index: 1;
  top: 0;
  animation: slidefromleft 1s ease; /* Updated animation name */
}

@keyframes slidefromleft {
  /* Updated animation name */
  0% {
    transform: translateX(-100%); /* Changed translateY to translateX */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* Changed translateY to translateX */
    opacity: 1;
  }
}
.background {
  width: 100%;
  height: 100vh;
}
.main_box {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.heading {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.search_box {
  margin-top: 10px;
  width: 98%;
  display: flex;
  justify-content: space-between;
  height: 45px;
  padding: 10px;
  //   border: 1px solid red;
}
.input_box {
  width: 90%;
  height: 100%;
}
.input_box input {
  font-size: 16px;
}

.icon {
  width: 10%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  //   border: 1px solid red;
}
.list_box {
  padding-top: 10px;
  // border: 1px solid red;
  border-top: 1px solid rgb(75, 75, 75);
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user_con {
  
  width: 90%;
  height: 50px;
  display: flex;
  // border-bottom: 1px solid #6875f0;
  align-items: center;
  padding: 10px;
  // margin: auto;
  cursor: pointer;
  border-radius: 8px;
  
}
.user_con:hover {
  background-color: #2e1b4c;
}
.img_box {
  width: 50px;
  height: 50px;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.name {
  margin-left: 10px;
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 300px;
    right: -300px;
  }
  .search_box{
    margin-top: 0px;
    width: auto;
    padding: 0px 10px 10px 10px;
  }
  .input_box {
    width: 85%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) {
}