.container {
  display: flex;
  align-items: center;
  // font-family: "Times New Roman", Times, serif;
}
.left_box {
  font-size: 35px;
}
.right_box {
  margin-left: 2px;
}
.top {
  // border: 1px solid green;
  font-size: 13px;
  margin-top: 0px;
  text-transform: uppercase;
}
.bottom {
  //   border: 1px solid red;
  font-size: 13px;
  margin-top: -3px;
  text-transform: uppercase;
}

/* Default styles for all devices */

/* Mobile devices */
@media only screen and (max-width:890px) {
  /* Styles for devices with a maximum width of 600 pixels */
}

/* Tablets and small desktops */
@media only screen and (min-width: 1107px) and (max-width: 1331px) {
  .left_box {
    font-size: 28px;
  }

  .top {
    font-size: 10px;
  }
  .bottom {
    font-size: 10px;
  }
}
@media only screen and (min-width: 1020px) and (max-width: 1106px) {
  .left_box {
    font-size: 25px;
  }

  .top {
    font-size: 8px;
  }
  .bottom {
    font-size: 8px;
  }
}

/* Medium to large desktops */
@media only screen and (min-width: 1025px) {
  /* Styles for devices with a minimum width of 1025 pixels */
}
