.container {
  width: 95%;
  height: 70px;
  border-radius: 10px;
  // background: linear-gradient(145deg, #e85aebf5, #79f7dc);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
.container:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.isSelected {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.notSelected {
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.img_box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
  //   border: 1px solid red;
}
.center {
  width: 60%;
  //   border: 1px solid black;
}
.right_box {
  width: 15%;
  //   border: 1px solid red;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.message {
  font-size: 16px;
}
.time {
  font-size: 16px;
}
.count {
  font-size: 16px;
}
