.container {
  width: 100%;
  height: auto;
  // border: 1px solid red;
  margin-top: 5px;
}

.image {
  width: auto;
  max-height: 300px;
  object-fit: contain;
  margin: 2px;
  border-radius: 10px;
}
@media only screen and (max-width: 600px) {
  .image{
    max-height: 250px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) {
}
