.container {
  width: 100%;
  height: calc(100vh - 230px);
  margin-top: 10px;
  display: flex;
  animation: slidefrombottom 1s ease-in-out;
  // overflow: auto;
  // border: 1px solid red;
}
@keyframes slidefrombottom {
  0% {
    transform: translateY(+100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.left_box {
  width: 50%;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  // overflow: auto;
  // border: 1px solid black;
}
.right_box {
  width: 50%;
  height: 100%;
}
.right_box::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.suggest {
  width: 20%;
  height: 300px;
  // border: 1px solid black;
}

@media only screen and (max-width: 768px) {
  .left_box {
    display: none;
  }
  .suggest {
    display: none;
  }
  .right_box {
    width: 99%;
    margin: auto;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .suggest {
    display: none;
  }
  .right_box {
    width: 65%;
    margin: auto;
  }
}

@media only screen and (min-width: 1025px) {
}
