@import "../../../Variable.scss";
.container {
  white-space: pre-line;
  font-family: $font_family;
  max-height: 45px;
  // border: 1px solid red;

  width: 100%;
  margin: 0px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
