.formContainer {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
}

.customComponent {
  margin-bottom: 16px;
}

.dynamicFieldContainer {
  margin-bottom: 16px;
}

.dynamicField {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.fieldContainer {
  margin-bottom: 16px;
}

.label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.errorMsg {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.addButton {
  margin-top: 8px;
  background: green;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.removeButton {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.submitButton {
  background-color: var(--btnColor);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}
