.logo_box {
  padding: 10px;
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
}
.logo_img {
  width: 25%;
  height: 70%;
}
.logo_text {
  width: 80%;
  height: 100%;
  margin-left: 15px;
  display: flex;
  align-items: center;

  //   border: 1px solid red;
}
// @media only screen and (max-width: 900px) {
//   /* Styles for devices with a maximum width of 600 pixels */
//   .logo_box{
//     justify-content: center;
//   }
//   .logo_img {
//     display: none;
//   }
// }
@media only screen and (max-width: 768px) {
  /* Styles for devices with a maximum width of 600 pixels */
  .logo_box{
    justify-content: center;
  }
  .logo_text {
    display: none;
  }
  .logo_img {
    width: 100%
  }
  /* Styles for devices with a maximum width of 600 pixels */
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for devices with a maximum width of 600 pixels */
  .logo_box{
    justify-content: center;
  }
  .logo_text {
    display: none;
  }
  .logo_img {
    width: 100%
  }
}
