@import "../../../Variable.scss";
.input_box {
  width: 100%;
}
.error {
  color: red;
  font-size: 12px;
}
.button {
  background-color: $button_color;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  border: none;
  font-family: $font_family;
  font-size: 16px;
}
