@import "../../../Variable.scss";
.container {
  // padding: 10px;
  font-family: $font_family;
  // border: 1px solid red;
  width: 100%;
}
.post_box {
  padding: 10px;
  height: 500px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
}
