@import "../../../Variable.scss";
.container {
  height: 100%;
  background-color: $Blue_Background_color;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.background {

  width: 100%;
  height: 100%;
}
.header_items {
  position: absolute;
}
.footer_items {
  position: absolute;
  bottom: 0;
  width: 99%;
}
