@import "./Variable.scss";
.container {
  display: flex;
  overflow: hidden;
}
.drawer_box {
  width: 15%;
  height: 100vh;
  // overflow-y: hidden;
}
.navbar {
  width: 100%;
  height: 40px;
  
}
.children_box {
  width: 85%;
  height: 100vh;
  overflow: hidden;
  // background-color: $Blue_Background_color;
  // border: 1px solid red;
  // border-radius: 30px;
}
.server_con {
  width: 100%;
  height: 100vh;
}
.server_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.children {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* Default styles for all devices */

/* Mobile devices */
@media only screen and (max-width: 768px) {
  .drawer_box {
    width: 15%;
  }
  .children_box {
    width: 85%;
  }
  /* Styles for devices with a maximum width of 600 pixels */
}

/* Tablets and small desktops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .drawer_box {
    width: 8%;
  }
  .children_box {
    width: 92%;
  }
}

/* Medium to large desktops */
@media only screen and (min-width: 1025px) {
  /* Styles for devices with a minimum width of 1025 pixels */
}
