@import "./Variable.scss";
.container {
  display: flex;
}
.drawer_box {
  width: 15%;
  height: 100vh;
}
.children_box {
  width: 85%;
  height: 100vh;
  // background-color: $Blue_Background_color;
  // border: 1px solid red;
  // border-radius: 30px;
}
