@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #f3f3f2;
  font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  overflow: auto;
}

:root {
  --font_family: "Nunito", sans-serif;
  --background_color: #f3f3f2;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.css-v0pjtz-MuiStack-root > .MuiTextField-root {
  min-width: 100px !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding-right: 0px !important;
  padding: 0px 0px 0px 5px !important;
  height: 40px !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  top: -8px !important;
}
