@import url("https://fonts.googleapis.com/css?family=Nunito");

$font_family:'Nunito';
$Blue_Background_color: #080c2e;
$Grey_Background_color: #ededf0;
$Image_Background_color:#151418;
$button_color:#080c2e;
$Status_Boder_color:rgb(0, 255, 200);
