.container {
  width: 35%;
  /* border: 1px solid red; */
  padding: 10px;
  background-color: white;
  border-radius: 6px;
  margin-top: 20px;
}
.header {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.userInfo {
  display: flex;
}
.headerLabel {
  margin-left: 10px;
}

.name {
  font-size: 16px;
  font-weight: bold;
}
.uploadImageBox {
  display: flex;
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
}
.uploadBtn {
  font-family: var(--font_family);
  width: 100px;
  height: 100px;
  border: 1px solid rgb(223, 221, 221);
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.uploadText {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}
.imageListBox {
  width: 75%;
}
.imageListBox img {
  margin: 0px 10px;
}
.scheduleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.optionBox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.privacyBox {
  width: 50%;
  border-right: 2px solid rgb(235, 233, 233);
  padding-right: 10px;
}
.box {
  display: flex;
  justify-content: space-between;
  margin-bottom:5px;
}

.label {
  font-size: 16px;
  color: rgb(95, 94, 94);
}
.aiBtn {
  width: 45%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(226, 225, 225);
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.aiBtn span {
  margin-left: 10px;
  margin-top: 2px;
  font-weight: 500;
}

.btnGroup {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

